<!DOCTYPE html>
<html lang="en">
<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Welcome to Python Flask with RESTful API</title>
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <!-- 
	  https://developers.google.com/fonts/docs/material_icons
	  https://fonts.google.com/icons?selected=Material+Icons
  -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- https://datatables.net/download/ -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/kt-2.6.2/datatables.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/kt-2.6.2/datatables.js"></script>
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
<nav role="navigation" class="navbar navbar-fixed-top navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home.index')}}">Logo</a>  
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{{url_for('fibonacci.fibonacci')}}">Fibonacci</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('user.index')}}">Users</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('author.index')}}">Authors</a></li>
		<li class="nav-item"><a class="nav-link" href="{{url_for('book.index')}}">Books</a></li>
      </ul>
      <ul class="nav navbar-nav ms-auto">
		{% if session['logged_in'] %}   
		<!-- Logged in -->
		<li><a href="{{url_for('auth.logout')}}" class="btn btn-default btn-sm"><span class="material-icons">logout</span></a></li>
		{% else %}
		<!-- Not Logged in -->
        <li><a href="{{url_for('auth.login')}}" class="btn btn-default btn-sm"><span class="material-icons">login</span></a></li>		
		{% endif %}	  
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
	{% block leftnav %}
	{% endblock %}
    </div>
    <div class="col-sm-10 text-left" style="margin-top: 10px">
		{% block content %}
		{% endblock %}
		<div class="container">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<hr>			
			{% for category, message in messages %}
			<div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
				{{ message }}			
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor %}
			{% endif %}
			{% endwith %}
		</div>	
    </div>
	<footer class="container-fluid text-center">
	  <p>Copyright &#169 {{ now.year }} Teh Kok How</p>
	</footer>	
  </div>
</div>
</body>
</html>