{% extends "base.html" %}
{% block content %}
<div class="container">
	<form action="{{url_for('user.create')}}" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Person</span>
			</div>
			<input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required="1">
			<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required="1">
		</div>
		<div class="input-group mb-3">
			<input type="text" class="form-control" id="email" name="email" placeholder="Your Email" required="1">
			<div class="input-group-append">
				<span class="input-group-text">@example.com</span>
			</div>
		</div>
		<div class="row" style="margin-top: 10px">
			<div class="col-md-2">
				<label>Password: </label>
			</div>
			<div class="col-md-6">
				<input type="password" class="form-control" id="password" name="password" required="1">
			</div>
		</div>
		<div class="row" style="margin-top: 10px">
			<div class="col-md-2">
				<label>Retype Password: </label>
			</div>
			<div class="col-md-6">
				<input type="password" class="form-control" id="password1" name="password1" required="1">
			</div>
		</div>			
		<div class="form-group" style="margin-top: 10px">
			<label class="col-md-4 control-label" for="submit"></label>
			<div class="col-md-8">
				<button id="submit" name="submit" class="btn btn-primary" value="1">Create Profile</button>
				<a href="{{url_for('user.index')}}" id="cancel" name="cancel" class="btn btn-secondary">Cancel</a>
			</div>
		</div>			
	</form>
</div>
{% endblock %}