[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
marshmallow = "*"
pytest = "*"
pytest-flask = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-Bcrypt = "*"
Flask-CORS = "*"
Flask-WTF = "*"
flask-healthz = "*"
wtforms = "*"
PyJWT = "*"
mysql-connector-python = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
