[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
python-dotenv = "*"
Quart-CORS = "*"
PyJWT = "*"
alembic = "*"
itsdangerous = "*"
quart = "*"
quart-wtforms = "*"
aioquic = "*"
psycopg-pool = "*"
psycopg = {extras = ["binary"], version = "*"}
quart-trio = "*"
jsonpickle = "*"
quart-bcrypt = "*"
quart-sqlalchemy = "*"
quart-keycloak = "*"
hypercorn = {extras = ["h3", "trio"], version = "*"}
uuid7 = "*"
google-genai = "*"
quart-uploads = "*"

[dev-packages]
pytest-flask = "*"
pytest = "*"
pytest-asyncio = "*"
beautifulsoup4 = "*"
tox = "*"

[requires]
python_version = "3.13"
