[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-healthz = "*"
marshmallow = "*"
python-dotenv = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-WTF = "*"
Quart-CORS = "*"
WTForms = "*"
Flask-Bcrypt = "*"
PyJWT = "*"
alembic = "*"
itsdangerous = "*"
flask-oidc = {ref = "refs/pull/144/head", git = "https://github.com/puiterwijk/flask-oidc.git"}
psycopg = {extras = ["binary"], version = "*"}
psycopg2-binary = "*"
quart-flask-patch = "*"
hypercorn = {extras = ["asyncio"], version = "*"}
quart = "*"

[dev-packages]
pytest-flask = "*"
pytest = "*"
pytest-asyncio = "*"
beautifulsoup4 = "*"
quart-wtforms = "*"

[requires]
python_version = "3.12"
