quart
hypercorn[h3]
flask
flask-sqlalchemy
flask-migrate
flask-script
flask-wtf
quart-cors
flask-oidc
flask-healthz
wtforms
marshmallow
flask-bcrypt
pyjwt
pytest
pytest-flask
psycopg2-binary
mysql-connector-python
python-dotenv
