[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"
marshmallow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
